<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.ministorewebmoblie.Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowListWSServlet</servlet-name>
        <servlet-class>com.mycompany.ministorewebmoblie.Controller.ShowListWSServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowListWSServlet</servlet-name>
        <url-pattern>/ShowList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckInServlet</servlet-name>
        <servlet-class>com.mycompany.ministorewebmoblie.Controller.CheckInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckInServlet</servlet-name>
        <url-pattern>/CheckIn</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mycompany.ministorewebmoblie.Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>com.mycompany.ministorewebmoblie.Controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOut</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>com.mycompany.ministorewebmoblie.Controller.ForgotPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/forget</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ValidateOtp</servlet-name>
        <servlet-class>com.mycompany.ministorewebmoblie.Controller.ValidateOtp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateOtp</servlet-name>
        <url-pattern>/ValiOtp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>newPassword</servlet-name>
        <servlet-class>com.mycompany.ministorewebmoblie.Controller.newPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newPassword</servlet-name>
        <url-pattern>/newPass</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowInformation</servlet-name>
        <servlet-class>com.mycompany.ministorewebmoblie.Controller.ShowInformation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowInformation</servlet-name>
        <url-pattern>/Info</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>com.mycompany.ministorewebmoblie.Controller.ChangePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changePass</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
